version: "3.9"

services:
  kafka:
    image: bitnamilegacy/kafka:latest
    container_name: kafka
    networks:
      - deep-space-net
    ports:
      - "9092:9092"
    environment:
      # KRaft mode
      KAFKA_CFG_PROCESS_ROLES: "broker,controller"
      KAFKA_CFG_NODE_ID: 1
      KAFKA_KRAFT_CLUSTER_ID: "kraft-cluster-1"
      # Listeners (internal name = kafka)
      KAFKA_CFG_LISTENERS: "PLAINTEXT://:9092,CONTROLLER://:9093"
      KAFKA_CFG_ADVERTISED_LISTENERS: "PLAINTEXT://kafka:9092"
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: "PLAINTEXT:PLAINTEXT,CONTROLLER:PLAINTEXT"
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: "1@kafka:9093"
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      # Topics auto-creation (opcional mas ajuda)
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"
    volumes:
      - kafka-data:/bitnami/kafka
    healthcheck:
      test: ["CMD", "bash", "-c", "kafka-topics.sh --bootstrap-server kafka:9092 --list || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  influxdb:
    image: influxdb:2
    container_name: influxdb
    networks:
      - ground-control-net
    ports:
      - "8086:8086"
    env_file:
      - .env
    environment:
      DOCKER_INFLUXDB_INIT_MODE: setup
      DOCKER_INFLUXDB_INIT_USERNAME: ${DOCKER_INFLUXDB_INIT_USERNAME}
      DOCKER_INFLUXDB_INIT_PASSWORD: ${DOCKER_INFLUXDB_INIT_PASSWORD}
      DOCKER_INFLUXDB_INIT_ORG: ${DOCKER_INFLUXDB_INIT_ORG}
      DOCKER_INFLUXDB_INIT_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET}
      DOCKER_INFLUXDB_INIT_ADMIN_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
    volumes:
      - influxdb-data:/var/lib/influxdb2
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8086/health"]
      interval: 10s
      timeout: 5s
      retries: 10

  telegraf:
    image: telegraf:latest
    container_name: telegraf
    depends_on:
      kafka:
        condition: service_healthy
      influxdb:
        condition: service_healthy
    networks:
      - deep-space-net
      - ground-control-net
    hostname: lunar-gateway
    env_file:
      - .env
    environment:  
      INFLUX_TOKEN: ${DOCKER_INFLUXDB_INIT_ADMIN_TOKEN}
      INFLUX_ORG: ${DOCKER_INFLUXDB_INIT_ORG}
      INFLUX_BUCKET: ${DOCKER_INFLUXDB_INIT_BUCKET}
    volumes:
    #bind mount para o Telegraf --> ligar a uma diretoria 
    #local diretamente dentro do container
      - ./telegraf/telegraf.conf:/etc/telegraf/telegraf.conf:ro

  producer_mobility:
    build:
      context: ./producers
      dockerfile: Dockerfile
    container_name: producer_mobility
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - deep-space-net
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      KAFKA_TOPIC: "telemetry-mobility"
      PYTHONUNBUFFERED: 1
    command: ["python","-u", "producer_mobility.py"]

  producer_eclss:
    build:
      context: ./producers
      dockerfile: Dockerfile
    container_name: producer_eclss
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - deep-space-net
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      KAFKA_TOPIC: "telemetry-eclss"
      PYTHONUNBUFFERED: 1
    command: ["python", "-u", "producer_eclss.py"]

  producer_hga:
    build:
      context: ./producers
      dockerfile: Dockerfile
    container_name: producer_hga
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - deep-space-net
    environment:
      KAFKA_BOOTSTRAP_SERVERS: "kafka:9092"
      KAFKA_TOPIC: "telemetry-comms"
      PYTHONUNBUFFERED: 1
    command: ["python","-u", "producer_hga.py"]

#volumes geridos pelo docker
volumes:
  kafka-data:
  influxdb-data:

networks:
  deep-space-net:
  ground-control-net:
